li { 
    list-style-type: square;
}

#cena { 
    color: red;
    font-weight: bold;
}

.wstep {
    font-style: italic;
}

td img {
    border-style: solid;
    border-color: blue;
}

td img:hover {
    border-style: solid;
    border-color: red;
}

h1 + h2 {
    letter-spacing: 5px;
}

td[colspan="2"] > p {
    font-size: small;
}

p + p {
    color: gray;
}

body {
    background-image: url(https://www.asme.org/getmedia/c2c8ea5a-b690-4ba7-92bb-34bd1432862b/book_guide_hero_books.png?width=300&height=315&ext=.png);
    background-repeat: repeat-y;
}

h1 { color: yellow }
h1 { color: green }